!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    -# To set titles and descriptions globally and for each individual page, see /DOCS.md
    %title= page_title
    %meta{:content => page_description, :name => "description"}

    %meta{:content => "width=device-width", :name => "viewport"}

    -#Favicon Options:
    -#Update favicon_base.png in /source and middleman-favicon-maker will generate all the versions you need on 'middleman build'
    -#OR, place favicon.ico and apple-touch-icon.png in /source and deactivate :favicon_maker in config.rb
    :erb
      <!-- Typekit stuff -->
      <script type="text/javascript" src="//use.typekit.net/snx5zhl.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


    = javascript_include_tag "vendor/modernizr-2.6.1.min"
    = stylesheet_link_tag "site"
  %body
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    %header#miniHeader
      - if content_for? :headerInfoTag
        = yield_content :headerInfoTag
      - else
        Don Okuda | Graphic Designer &amp; Front-End Developer
        %br
        %span.lighter
          :javascript
            //<![CDATA[
            <!--
            var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
            "=104){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return " +
            "o.substr(0,ol);}f(\")35,\\\".$(;3.n!1adi'dnghcCceu520\\\\220\\\\R520\\\\520" +
            "\\\\530\\\\FU*W(N720\\\\530\\\\400\\\\600\\\\230\\\\MN7700\\\\600\\\\310\\\\"+
            "In\\\\410\\\\500\\\\610\\\\500\\\\!100\\\\;+63u46<m9!8:3<r320\\\\s+)9\\\"\\" +
            "\\i){dm*/'5)MI320\\\\HU_TMTYQ\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCr" +
            "ahCmorf.gnirtS=+o;721=%y{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(" +
            "f noitcnuf\")"                                                               ;
            while(x=eval(x));
            //-->
            //]]>
    %div{:role => "main", :class => "main"}= yield
    %footer
      Hosting by #{ link_to "(mt) Media Temple", "http://www.mediatemple.net/#a_aid=5020a90c3a546" }

    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
    :javascript
      window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.8.0.min.js"><\/script>')
    = javascript_include_tag "site"

    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
