---
title: Graphic Design &amp; Web Development
description:
---

#about.whiteBg.textured
  .wrapper
    = image_tag "me.jpg", class: 'portrait'
    %hgroup.centeredTitles
      %h1 "Hello." A Brief Introduction.
      %h3 BORN: 1988 / CURRENT CITY: LOS ANGELES, CA
    %p= lorem.paragraph
    %p I am currently employed at #{ link_to "LEMUR Heavy Industries", "http://www.lemurheavy.com", class: 'lemurlink' } in Culver City, California.
    = link_to "See more of my work", "/portfolio"

#selectedWork.whiteBg
  %h3.headerTag FEATURED WORK
  %ul
    - 12.times do
      %li
        = link_to "", class: 'work-preview' do
          .description
            %h2 
              Action Tobacco Prevention
              %br
              \~
            %p
              %strong
                2011
                %br
                PRINT
          = image_tag 'standin-workpreview.jpg'

#careerTimeline.whiteBg
  .wrapper
    %h3 CAREER TIMELINE
    %hgroup.centeredTitles
      %h1 My Life Summary
      %h3 WITTY SUBTITLE HERE?
  #timeline
    = image_tag "standin-careertimeline.jpg"

#contactMe.whiteBg
  .wrapper
    %h3 CONTACT ME
    %hgroup.centeredTitles
      %h1 Let's get in touch.
      %h3 FEEL FREE TO CONTACT ME IN THE FOLLOWING WAYS
    %ul.mainContact
      %li
        %h3 EMAIL
        %p don.okuda@gmail.com
      %li
        %h3 SKYPE
        %p donokuda
      %li
        %h3 LINKEDIN
        %p linkedin.com/in/donokuda

    %h3 I'M ALSO SCATTERRED THROUGHOUT THE INTERNET
    %ul.auxContact
      %li
        %h3 TWITTER
        %p= link_to "@donokuda", "http://www.twitter.com/donokuda"
      %li
        %h3 DRIBBLE
        %p= link_to "dribbble.com/donokuda", "http://dribbble.com/donokuda"
      %li
        %h3 GITHUB
        %p= link_to "github.com/donokuda", "http://github.com/donokuda"
      %li
        %h3 RDIO
        %p= link_to "rdio.com/people/donokuda", "http://rdio.com/people/donokuda"
      %li
        %h3 INSTAGRAM
        %p= link_to "instagram.com/donokuda", "http://instagram.com/donokuda"
      %li
        %h3 SOUNDCLOUD
        %p= link_to "soundcloud.com/van-aerial", "http://soundcloud.com/van-aerial"




