---
title: Graphic Design &amp; Web Development
description:
---

#hero.background.asphalt
  .wrapper
    %h1 Hello! I am a Graphic Designer and Front-End Developer based in Los Angeles. Nice to meet you!
    %p I am currently employed at #{ link_to "LEMUR Heavy Industries", "http://www.lemurheavy.com", class: 'lemurlink' } in Culver City, California.
    = link_to "", class: "buttonStyle" do
      %strong VIEW MY WORK
    = link_to "Get to know more about me...", ""

#selectedWork
  %h3.headerTag FEATURED WORK
  %ul
    - 8.times do
      %li
        = link_to "", class: 'work-preview' do
          .description
            %h2 
              A Secret Set with Waters
              %br
              \~
            %p
              %strong
                2011
                %br
                PRINT
          = image_tag 'standin-workpreview.jpg'

