---
title: Portfolio
---

- content_for :headerInfoTag do
  = link_to "Don Okuda", "/", title: "Back to Main", class: "nameLink"
  %span.lighter.j_portfolioMiniHeaderTitle Selected Work
  %ul#portfolioNav
    - data.portfolio.projects.each do |project|
      %li.pagination{ data: { name: project.name } }
        = link_to "", "##{ project.hashroute }"

#portfolio
  - data.portfolio.projects.each do |project|
    .project 
      .description_wr.whiteBg.textured
        .description.wrapper
          %hgroup.centeredTitles.whiteBg.textured
            %h1{ style: "color: #{ project.main_color if project.main_color.present? }" }
              = project.name
            %h3
              %ul
                - if project.type.present?
                  %li TYPE: #{ project.type.upcase }
                - if project.year.present?
                  %li YEAR: #{ project.year }
                - if project.client.present?
                  %li CLIENT: #{ project.client.upcase }
                - if project.role.present?
                  %li ROLE: #{ project.role.upcase }
          %p= project.description

          %p
            = link_to "View Project", project.url if project.url.present?
            = link_to "Back to Main", "/"
      %ul.examples
        - project.images.each do |image|
          %li= image_tag "portfolio/#{ image.image_url }" if image.image_url.present?
