---
title: Portfolio
---

- content_for :headerInfoTag do
  Don Okuda
  %span.lighter Selected Work
  %ul#portfolioNav
    -# NOTE: The following should be generated in 'site.js.coffee'
      %li.pagination.active= link_to "", "#"
      %li.pagination= link_to "", "#"

#portfolio
  - data.portfolio.projects.each do |project|
    .workItem
      .description_wr.whiteBg.textured
        .description.wrapper
          %hgroup.centeredTitles.whiteBg.textured
            %h1= project.name
            %h3
              TYPE: #{ project.type } /
              YEAR: #{ project.year } /
              CLIENT: #{ project.client } /
              ROLE: #{ project.role }
          %p= project.description

          %p
            = link_to "Visit Site", project.url
            = link_to "Back to Main", "/"
      %ul.examples
        - project.images.each do |image|
          = image_tag image.image_url
