<nav class="project-page-navigation">
  <dl class="project-page-navigation-previous">
    <dt>Previous Project</dt>
    <dd>
      <a href="#">Hound</a>
    </dd>
  </dl>

  <dl class="project-page-navigation-next">
    <dt>Next Project</dt>
    <dd>
      <a href="#">Hound</a>
    </dd>
  </dl>
</nav>

<article class="project-page">
  <header>
    <img {{bind-attr src="logoUrl"}} class="project-logo">
    <h1 class="project-name-with-logo">{{name}}</h1>
  </header>

  <aside class="project-info">
    <dl class="info-year">
      <dt>Year</dt>
      <dd>{{year}}</dd>
    </dl>
    <dl class="info-client">
      <dt>Client</dt>
      <dd>{{client}}</dd>
    </dl>
    <dl class="info-roles">
      <dt>Roles</dt>
      <dd>UI Design</dd>
      <dd>Ember.js Development</dd>
      <dd>Ruby on Rails Development</dd>
    </dl>
  </aside>

  <section class="project-text">
    {{caseStudyDetails}}
  </section>
</article>
