<article class="project-page">
  <header>
    <img {{bind-attr src="logoUrl"}} class="project-logo">
    <h1 class="project-name-with-logo">{{name}}</h1>
  </header>

  <aside class="project-info">
    <dl class="info-year">
      <dt>Year</dt>
      <dd>{{year}}</dd>
    </dl>
    <dl class="info-client">
      <dt>Client</dt>
      <dd>{{client}}</dd>
    </dl>
    <dl class="info-roles">
      <dt>Roles</dt>
      {{#each role in rolesList}}
        <dd>{{role}}</dd>
      {{/each}}
    </dl>
  </aside>

  <section class="project-text">
    {{caseStudyDetails}}
  </section>
</article>
