<header class="projects-header">
  <h1>Selected Works</h1>
  <p>
    I've been designing and building websites and applications since 2012. Here
    are some of the works I'm particularly proud of.
  </p>
</header>

{{#each project in model}}
  <article class="project-item">
    <figure class="project-logo-container">
      <img {{bind-attr src="project.logoUrl"}} />
    </figure>
    <section class="project-overview">
      <header>
        <h2 class="project-name">{{project.name}}</h2>
        <time
          {{bind-attr datetime="project.year"}}
          class="project-meta-info">
          {{project.year}}
        </time>
      </header>
      <p>{{project.teaser}} </p>
      <section class="project-links">

        {{#if project.hasCaseStudy}}
          <dl class="project-link">
            <dt>Learn more</dt>
            <dd>
              {{#link-to 'project' project.id}}
                View Details
              {{/link-to}}
            </dd>
          </dl>
        {{/if}}

        {{#if project.hasUrl}}
          <dl class="project-link">
            <dt>Visit Site</dt>
            <dd>
              <a {{bind-attr href="project.url"}}>{{format-url project.url}}</a>
            </dd>
          </dl>
        {{/if}}
      </section>
    </section>
  </article>
{{/each}}
